<div class='cms_form'>
<%= paragraph_options_form_for "Mail Template List Options","mail_template_list",@options do |f| %>
    <%= f.text_field :category %>
    <%= f.text_field :per_page %>
<% end -%>

</div>
