<%= f.text_field :login -%>
<%= f.text_field :access_pw, :label => 'Access Password' -%>
<%= f.radio_buttons :skip_launch, [ ['Yes','yes'],['No','no']], :description => 'Do not launch campaign after send. Campaign must be launched via VR Interface' %>
