<div class='admin_content'>
<%= render :partial => 'campaign_steps' %>

<% cms_form_for :campaign, @campaign do |f| %>
<%= f.text_field :name, :vertical => true, :size => 60 %>
<%= f.submit_tag 'Next' %>


<% end -%>

</div>